.Buster{
  position:relative;
  width:100%;
  border-radius: 5px;
  height:135px;
  user-select: none;
  cursor: pointer;
  display:grid;
  grid-template-columns: 100px auto 70px;
  gap:10px;
  box-sizing: border-box;
  background-image: url("../assets/Upgrades/upgrade-back.jpg");
  background-size: cover;
  color:white;
  border: 12px solid rgb(253, 206, 103);
  transition:.3s;
  overflow-x: visible;
}

.Buster:hover{
  border: 12px solid rgb(255, 174, 0);
}

.Buster--nonavailable{
  border: 12px solid rgb(134, 134, 134);
}

.Buster--nonavailable:hover{
  border: 12px solid rgb(229, 229, 229);
}

.Buster__tooltip {
  font-family: 'Bleeker';
  font-size: 18px;
  position: fixed; 
  width: 200px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  text-align: justify;
  border-radius: 5px;
  z-index: 10; 
}

.Buster__info{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.Buster__title{
  font-size:30px;
  margin:0;
  font-weight: bold;
  text-align: left;
}

.Buster__timers{
  display:flex;
  gap:10px;
  font-size:20px;
}

.Buster__timers img{
  width:28px;
  height:28px;
}

.Buster__timer{
  display:flex;
  align-items: center;
  gap:3px;
}

.Buster__benefit{
  color:rgb(7, 191, 50);
}

.Buster__max-level{
  text-transform: uppercase;
  text-align: left;
}

.Buster__img{
  width:100px;
  height:111px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  user-select: none;
  pointer-events: none;
}

.Buster__price-block{
  font-size:25px;
  height:27px;
  width:100%;
  display:flex;
  align-items: center;
  justify-content:left;
  gap:10px;
  color:rgb(68, 164, 236);
}

.Buster__price-block img{
  width:23px;
}

.Buster__price-level{
  display:flex;
  align-items:end;
  justify-content: space-between;
}

.Buster__level{
  margin:0 !important;
  line-height: 30px;
  font-size:34px;
}

.Buster__upgrader{
  display:flex;
  justify-content: center;
  align-items:center;
  background-color: crimson;
}

.Buster__upgrader--availavle{
  background-color: rgb(244, 252, 21);
}

.Buster__upgrader--availavle:hover{
  background-color: rgb(153, 255, 0);
}

.Buster__upgrader img{
  width:50px;
  height:50px;
}

.Buster__upgrade-info{
  color:chocolate;
}