.Busters{
  position:absolute;
  left:0;
  top:0px;
  width:450px;
  height:100vh;
  padding: 10px 20px 30px 20px;
  transition: 0.5s;
  background-image: url(../assets/Upgrades/upgrades-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y:auto;
  overflow-x: visible;
}

.Busters__title{
  color:black;
  font-size: 40px;
  margin-bottom: 10px;
}

.Busters__title p{
  margin: 0;
}

.Busters__container{
  display:flex;
  flex-direction: column;
  gap:5px;
}