.Client{
  position:absolute;
  left:0;
  width:160px;
  height:260px;
  opacity:1;
  transition: 1s;
  cursor: pointer;
  user-select: none;
  z-index:40;
}

.Client__img{
  width:100%;
  height:210px;
  pointer-events: none; 
  user-select: none;
}

.Client__progressbar{
  height:32px;
  margin:3px 5px;
  border-radius: 5px;
  background-color: #e0e0e0;
}

.Client__progress{
  width:0%;
  height:100%;
  background-color: green;
  box-sizing: border-box;
  border:2px solid transparent;
  border-radius: 5px;
}

.Client__bonus{
  font-size:30px;
  color:green;
  display:flex;
  align-items: center;
  justify-content: center;
  gap:3px;
}
.Client__money{
  width:30px;
  height:30px;
}
