.Counters{
  font-size:30px;
  position:absolute;
  top:20px;
  right:20px;
  user-select:none;
  display:flex;
  gap:15px;
}

.Counter{
  display:flex;
  align-items:center;
  padding:5px;
}

.Counter__clients__img{
  width:48px;
  height:48px;
}