.Counters{
  font-size:30px;
  position:absolute;
  top:20px;
  left: calc(50% - 50px);
  transform: translateX(-50%);
  user-select:none;
  display:flex;
  gap:15px;
  z-index:30;
}

.Counter{
  display:flex;
  align-items:center;
  gap:3px;
  padding:5px;
}

.Counter__img{
  width:48px;
  height:48px;
}