.DiamondUpgrades{
  position:absolute;
  right:0;
  top:0px;
  width:480px;
  height:100vh;
  padding: 10px 20px 20px 20px;
  transition: 0.5s;
  background-image: url(../Upgrades/upgrades-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y:auto;
  overflow-x: visible;
}

.DiamondUpgrades__title{
  color:black;
  font-size: 40px;
  margin-bottom: 10px;
}

.Upgrades__title p{
  margin: 0;
}

.DiamondUpgrades__container{
  display:grid;
  width:400px;
  grid-template-columns: repeat(5, 74px);
  gap:3px;
}