.Tooltip {
  font-family: 'Bleeker';
  font-size: 18px;
  position: fixed; 
  width: 230px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  text-align: justify;
  border-radius: 5px;
  z-index: 52; 
}

.Tooltip__last{
  color:red;
}

.Tooltip__upgrade-info{
  color:chocolate;
}

.Tooltip__benefit{
  color:rgb(7, 191, 50);
}

.Tooltip__price-block img{
  width:23px;
  height:23px;
}

.Tooltip__point{
  display:flex;
  gap:5px;
  margin-bottom: 20px;
}

.Tooltip__point img{
  width:40px;
  height:40px;
}