.Upgrade{
  position:relative;
  width:100%;
  border-radius: 5px;
  height:135px;
  user-select: none;
  cursor: pointer;
  display:grid;
  grid-template-columns: 110px auto;
  gap:20px;
  box-sizing: border-box;
  background-image: url("../assets/Upgrades/upgrade-back.jpg");
  background-size: cover;
  color:white;
  border: 12px solid rgb(134, 134, 134);
  transition:.3s;
}

.Upgrade:hover{
  border: 12px solid rgb(229, 229, 229);
}

.Upgrade__tooltip {
  font-size:18px;
  position: absolute;
  right:104%;
  width:200px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  text-align: justify;
  border-radius: 5px;
  z-index: 10;
}

.Upgrade--nonavailable:before{
  content:"";
  position:absolute;
  left:0;
  width:100%;
  height:100%;
  border-radius:15px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.Upgrade__info{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.Upgrade__title{
  font-size:30px;
  margin:0;
  font-weight: bold;
  text-align: left;
}

.Upgrade__benefit{
  color:rgb(7, 191, 50);
}

.Upgrade__max-level{
  text-transform: uppercase;
  text-align: left;
}

.Upgrade__img{
  width:120px;
  height:111px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  user-select: none;
  pointer-events: none;
}

.Upgrade__price-block{
  font-size:25px;
  height:23px;
  width:100%;
  display:flex;
  align-items: center;
  justify-content:left;
  gap:10px;
  color:rgb(7, 191, 50)
}

.Upgrade__price-block img{
  width:25px;
}

.Upgrade--hidden {
  position:relative;
  pointer-events: none; 
}

.Upgrade--hidden .Upgrade__img{
  opacity: 0;
}

.Upgrade--invisible{
  display:none;
}

.Upgrade__price-level{
  display:flex;
  align-items:end;
  justify-content: space-between;
}

.Upgrade__level{
  margin:0 !important;
  line-height: 30px;
  font-size:34px;
}

.Upgrade__requirements{
  display:flex;
  gap: 2px;
  align-items:center;
}

.Upgrade__requirements-text{
  font-size:23px;
  text-align:left;
  color:rgb(68, 164, 236);
}

.Upgrade__requirements-text span{
  color:white;
}

.Upgrade__requirement-img{
  width:16px;
  height:16px;
}