.Upgrades{
  position:absolute;
  right:0;
  top:0px;
  width:480px;
  height:100vh;
  padding: 10px 20px 20px 20px;
  transition: 0.5s;
  background-image: url(../assets/Upgrades/upgrades-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y:auto;
  overflow-x: visible;
}

.Upgrades--visible{
  right:20px;
}

.Upgrades__title{
  color:black;
  font-size: 40px;
  margin-bottom: 10px;
}

.Upgrades__title p{
  margin: 0;
}

.Upgrades__arrow--rotated{
  transform:rotate(0deg);
}

.Upgrades__container{
  display:flex;
  flex-direction: column;
  gap:5px;
}

.Upgrades__space{
  width:100%;
  height:100px;
}